<div class="sb2-2-3">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp">
        <div class="inn-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="header-label">{{ isEditable ? "Edit" : "Add New" }} Email Template</h4>
            </div>
            <div class="col-md-4 text-right">
                <a *ngIf="isEditable" class="waves-effect waves-light btn cancel submit-btn " routerLink="/clients" form="main-form"> cancel</a>                
              <a class="waves-effect waves-light btn teal lighten-2" [ngClass]="{'disabled': !mainForm.valid || !mainForm.dirty || !mainForm.touched}"  form="client-form" (click)="save()">Submit</a>
            </div>
          </div>
        </div>
        <div class="tab-inn">
          <div [ngBusy]="busy"></div>
          <form #mainForm="ngForm" id="client-form">
            <div class="row">
              <div class="input-field col s6">
                <input id="emailTitle" type="text" [(ngModel)]="item.title" name="emailTitle"
                class="validate" #nameVl="ngModel" required minlength="3" maxlength="100">
                <label for="emailTitle" [ngClass]="{'active': item?.title}">Name *</label>

                <div *ngIf="nameVl.invalid && (nameVl.dirty || nameVl.touched)" class="text-danger">
                  <p *ngIf="nameVl.errors.required">Email title is required.</p>
                  <p *ngIf="nameVl.errors.minlength">Minimum of 3 characters</p>
                  <p *ngIf="nameVl.errors.maxlength">Maximum of 70 characters</p>
                </div>
              </div>

              <div class="input-field col s6"></div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="phone" class="active">Body {{mainForm.valid}} name-> {{nameVl.valid}} </label>
                <br>
                <quill-editor [(ngModel)]="item.description" 
                required 
                (ready)="onEditorCreated($event)" 
                [ngModelOptions]="{standalone: true}"
                [options]="editorConfig"
                (blur)="onEditorBlured($event)"
                (focus)="onEditorFocused($event)"
                (ready)="onEditorCreated($event)"
                (change)="onContentChanged($event)"
                >

                </quill-editor>
              </div>
            </div>
            <div class="clear">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
