<!--== MAIN CONTRAINER ==-->
<div class="container-fluid sb1">
    <div class="row">
        <!--== LOGO ==-->
        <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
            <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
            <a routerLink="/" class="logo"><img src="assets/images/logo1.png" alt="" />
            </a>
        </div>

        <!--== MY ACCCOUNT ==-->
        <div class="col-md-2 col-sm-3 col-xs-6 pull-right left-gen">
            <!-- Dropdown Trigger -->
            <a materialize="dropdown" class='waves-effect dropdown-button top-user-pro' data-activates='top-menu'>
                {{name}} <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

            <!-- Dropdown Structure -->
            <ul id='top-menu' class='dropdown-content top-menu-sty'>
                <!-- <li><a class="waves-effect"><i class="fa fa-cogs" aria-hidden="true"></i>Admin Setting</a>
                </li> -->
                <li class="divider"></li>
                <li><a routerLink="/login" class="ho-dr-con-last waves-effect"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>

        <!--== NOTIFICATION ==-->
        <div class="col-md-1 tab-hide pull-right right-gen">
            <div class="top-not-cen custom-top-cen">
                <a class='waves-effect btn-noti' (click)="allNotifications()"  materialize="dropdown" data-activates="notifications-bar" >
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  <span *ngIf="messages.length!==0">{{messages.length}}</span>
                </a>


                            <div id='notifications-bar'  class="dropdown-menu dropdown-content top-menu-sty" data-activates="notifications-bar" aria-labelledby="dropdownMenuButton">
                                    <div class="notification-dv">
                                       <div class="notify-header">
                                            <p>Notification </p>
                                       </div>

                                       <div class="notify-main" *ngFor="let message of items">
                                       <div class="notify-content" [ngClass]="message?.is_read ? 'notify-read' : 'notify-unread'" (click)="notification(message)">
                                          <div class="row">
                                             <div class="col-sm-2">
                                                <span class="notify-icons">
                                                    <!-- <i class="fa fa-tachometer" aria-hidden="true"></i> -->
                                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                                    <i *ngIf="message.type == ''" class="fa fa fa-coffee" aria-hidden="true"></i>
                                                </span>
                                             </div>
                                             <div class="col-sm-10 pad_less">
                                                <div class="notify-con">
                                                    <h2 class="notify-title">{{message.title}} </h2>
                                                   <!-- <p>{{message.description}} </p> -->
                                                   <span class="date-sp">{{formatDate(message.created_date)}} </span>
                                                </div>
                                             </div>
                                          </div>
                                       </div>


                                  </div>
                                <div class="notify-footer text-center">
                                    <a routerLink="/alerts" *ngIf="items.length>9">See More</a>
                                    <p *ngIf="items.length==0" class="no-notification"> No new notification </p>
                                </div>
                               </div>
                            </div>
            </div>
        </div>

    </div>
</div>
