<div [ngBusy]="busy"></div>
<div class="blog-login">
    <div class="blog-login-in">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <img src="assets/images/logo.png" alt="" />
            <div class="row">
                <div class="input-field col s12">
                  <input type="text" class="mb-text" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" required email>
                  <label for="email">Email</label>

                  <div *ngIf="email.errors && email.touched" class="text-danger">
                    <p *ngIf="email.errors?.required">Email address is mandatory.</p>
                    <p *ngIf="email.errors?.email">Please type valid email address.</p>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" class="mb-text" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" required>
                    <label for="last_name">Password</label>

                    <div *ngIf="password.errors && password.touched">
                      <p class="text-danger" *ngIf="password.errors?.required">Password is mandatory.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input type="submit" class="waves-effect waves-light btn-large" style="width: 100%;" value="Login" [disabled]="!loginForm.valid">
                </div>
            </div>
            <a routerLink="/forgot-password" class="for-pass">Forgot Password?</a>
        </form>
    </div>
</div>
