<div class="sb2-1">
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul materialize="collapsible" class="collapsible left-nav-custom" data-collapsible="accordion" >
            <li>
              <a routerLink="/dashboard" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                Dashboard
              </a>
            </li>

            <li *ngFor="let item of staticLinks">
              <a  routerLinkActive="menu-active active" [routerLink]="item.link" [ngClass]="{'collapsible-header' : item.childs }">
                <i class="fa" [ngClass]="item.icon" aria-hidden="true"></i>
                {{ item.name }}
              </a>

              <div class="collapsible-body left-sub-menu" *ngIf="item.childs">
                  <ul>
                      <li *ngFor="let subItem of item.childs">
                            <a routerLinkActive="menu-active" [routerLink]="['/products', subItem.module_id, subItem._id, subItem.department_type]">{{ subItem.name.en }}</a>
                        </li>
                  </ul>
              </div>

            </li>


        </ul>
    </div>
</div>
