<div [ngBusy]="busy"></div>
<div class="blog-login">
    <div class="blog-login-in">
        <form #resetPasswordForm="ngForm" (ngSubmit)="sendEmail()">
            <img src="assets/images/logo.png" alt="" />
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="mb-text" name="email" id="email" [(ngModel)]="userEmail" #email="ngModel" required email>
                    <label for="email">User Name</label>

                    <div *ngIf="email.errors && email.touched" class="text-danger">
                      <p *ngIf="email.errors?.required">Email address is mandatory.</p>
                      <p *ngIf="email.errors?.email">Please type valid email address.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input type="submit" class="waves-effect waves-light btn-large" style="width: 100%;" value="Send Email" [disabled]="!resetPasswordForm.valid">
                </div>
            </div>
            <a routerLink="/login" class="for-pass">Login</a>
        </form>
    </div>
</div>
