  <div class="sb2-2-add-blog">

  <ul class="nav nav-tabs tab-list">
      <li class="active">
        <a data-toggle="tab" routerLink="/clients/{{itemID}}/edit">
        <i class="fa fa-info" aria-hidden="true"></i> <span>Detail</span></a>
      </li>
      <li>
        <a data-toggle="tab" routerLink="/clients/{{itemID}}/checkin" *ngIf="itemID">
          <i class="fa fa-history" aria-hidden="true"></i> <span>Check-In</span>
        </a>
      </li>
      <!--  <li [ngClass]="{'active': tab===3}"><a data-toggle="tab" href="javascript: void();"  (click)="openTab(3)"><i class="fa fa-usd" aria-hidden="true"></i> <span>Invoice</span></a>
      </li> -->
  </ul>

  <div class="tab-content">
      <div id="home" class="tab-pane fade in active">

<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp">
        <div class="inn-title">
          <div class="row">
            <div class="col-md-6">
              <h4 class="header-label">{{ isEditable ? "Edit" : "Add New" }} User</h4>
            </div>
            <div class="col-md-6 text-right">
                <a *ngIf="isEditable" class="waves-effect waves-light btn cancel submit-btn " routerLink="/clients" form="main-form"> cancel</a>
              <a class="waves-effect waves-light btn teal lighten-2" [ngClass]="{'disabled': !mainForm.valid || !mainForm.dirty || !mainForm.touched}"  form="client-form" (click)="save()">Submit</a>
            </div>
          </div>
        </div>
        <div class="tab-inn">
          <div [ngBusy]="busy"></div>
          <form #mainForm="ngForm" novalidate id="client-form">
            <div class="row">
              <div class="input-field col s6">
                <input id="clientName" type="text" [(ngModel)]="item.name" name="clientName"
                class="validate" #nameVl="ngModel" required minlength="3" maxlength="100">
                <label for="clientName" [ngClass]="{'active': item?.name}">Name *</label>

                <div *ngIf="nameVl.invalid && (nameVl.dirty || nameVl.touched)" class="text-danger">
                  <p *ngIf="nameVl.errors.required">Client Name is required.</p>
                  <p *ngIf="nameVl.errors.minlength">Minimum of 3 characters</p>
                  <p *ngIf="nameVl.errors.maxlength">Maximum of 70 characters</p>
                </div>
              </div>

              <div class="input-field col s6">
                <input id="email" type="text" class="validate" [(ngModel)]="item.email" name="email"
                #emailVl="ngModel" required email
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [attr.disabled]="isEditable?'':null" minlength="5" maxlength="50">
                <label for="email" [ngClass]="{'active': item?.email}">Email *</label>

                <div *ngIf="emailVl.invalid && (emailVl.dirty || emailVl.touched)" class="text-danger">
                  <p *ngIf="emailVl.errors?.required">Email is required.</p>
                  <p *ngIf="emailVl.errors?.pattern || emailVl.errors?.maxlength || emailVl.errors?.minlength">Invalid Email.</p>

                </div>

              </div>
            </div>
            <div class="row">
              <div class="input-field col s1">

                <input id="country_code" type="text" class="validate" dropSpecialCharacters="false" mask="+999" [(ngModel)]="item.country_code" name="country_code">
                <label for="country_code" [ngClass]="{'active': item?.country_code}">Code</label>
              </div>
              <div class="input-field col s5">

                <input id="phone" type="text" class="validate" dropSpecialCharacters="false" mask="(999) 999-9999" [(ngModel)]="item.mobile_number" name="mobile_number">
                <label for="phone" [ngClass]="{'active': item?.mobile_number}">Mobile</label>
              </div>
              <div class="input-field col s6">
                <input id="dob" type="text" class="datepicker" materialize="pickadate"  [materializeParams]="[datePickerOptions]"
                [(ngModel)]="item.birthday" name="birthday">
                <label for="dob" [ngClass]="{'active': item?.birthday}">Birth Day</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="city" type="text" class="validate"
                [(ngModel)]="item.city" name="city">
                <label for="city" [ngClass]="{'active': item?.city}">City</label>
              </div>
              <div class="input-field col s6">
                <select materialize="material_select" *ngIf="countries && countries.length > 0" [(ngModel)]="item.country" name="country">
                  <option value="" selected>Choose your country</option>
                  <option *ngFor="let item of countries"  [value]="item.name">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="password" type="password" class="validate" name="password"
                [(ngModel)]="item.password" #password="ngModel" minlength="6" [required]="!isEditable">
                <label for="password">{{ isEditable ? "Password" : "Password *" }}</label>

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                  <p *ngIf="password.errors.required">Password is required.</p>
                  <p *ngIf="password.errors.minlength">Minimum of 6 characters</p>
                </div>
              </div>
              <div class="input-field col s6">
                <input id="confirm_password" type="password" class="validate" name="confirmPassword"
                [(ngModel)]="confirmPassword" #confirmPass="ngModel" [equalTo]="password" >
                <label for="password">Confirm Password</label>

                <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                  <p *ngIf="confirmPass.errors.equalTo">Password doesn't match.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 question" *ngIf="2 == 1 ">
                <!-- Switch -->
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox" id="active" checked="checked"
                    [(ngModel)]="item.is_active" name="is_active" (change)="mainForm.control.markAsTouched()">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <label class="active">Active</label>
              </div>

              <div class="input-field col s6 question" *ngFor="let quest of questanare; let i = index" [attr.data-index]="i">
                <label class="active">Question {{i + 1}}</label>

                <div class="col-md-6">
                  <input name="{{quest._id}}" type="radio" id="l_{{quest._id}}" [(ngModel)]="answers[quest._id]" value="{{quest.l_Text}}" [attr.disabled]="isEditable?'':null" />
                  <label for="l_{{quest._id}}">{{quest.l_Text}}</label>
                </div>

                <div class="col-md-6">
                  <input name="{{quest._id}}" type="radio" id="r_{{quest._id}}" [(ngModel)]="answers[quest._id]" value="{{quest.r_Text}}" [attr.disabled]="isEditable?'':null" />
                  <label for="r_{{quest._id}}">{{quest.r_Text}}</label>
                </div>
              </div>

            </div>
            <div class="clear">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
  </div>
</div>
