<div class="sb2-2-2">
    <ul id="breadcrumbs">
      <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>

      <ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last = last>
        <li class="active-bre" *ngIf="breadcrumb.label.title">
          <a [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</a>
        </li>
      </ng-template>

      <!-- li class="page-back">
        <a href="index.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
      </li -->
    </ul>
</div>
