<div class="sb2-2-add-blog">

                    <ul class="nav nav-tabs tab-list">
                        <li >
                          <a data-toggle="tab" routerLink="/clients/{{itemID}}/edit">
                          <i class="fa fa-info" aria-hidden="true"></i> <span>Detail</span></a>
                        </li>
                        <li class="active">
                          <a data-toggle="tab" routerLink="/clients/{{itemID}}/checkin" >
                            <i class="fa fa-history" aria-hidden="true"></i> <span>Check-In</span>
                          </a>
                        </li>
                        <!--  <li [ngClass]="{'active': tab===3}"><a data-toggle="tab" href="javascript: void();"  (click)="openTab(3)"><i class="fa fa-usd" aria-hidden="true"></i> <span>Invoice</span></a>
                        </li> -->
                    </ul>

                    <div class="tab-content">

                        <div id="menu1" class="tab-pane fade in active" >
                            <div class="">
                              <!-- <button (click)="print()">PRINT</button> -->

                              <div class="inn-title">
                               <div class="row">
                                <div [ngBusy]="busy"></div>
                                 <div class="col s12 m3 l3">
                                   <p class="strong white-text">Invoice No</p>
                                       <h4 class="header">#{{booking_detail?.booking_number}}</h4>
                                 </div>
                                 <div class="col s12 m9 l9 invoice-brief  white-text">
                                   <div class="row">
                                     <div class="col s12 m3 l3">
                                      <!--  <p class="strong white-text">Total Due</p>
                                       <h4 class="header">{{calculateTotal(items) | currency:'USD':true:'1.2-2'}}</h4> -->
                                     </div>
                                      <div class="col s12 m3 l3">

                                     </div>
                                     <div class="col s12 m3 l3">
                                       <p class="strong white-text">Check-In Date</p>
                                       <h4 class="header">{{booking_detail?.check_in_time |date}}</h4>
                                     </div>
                                     <div class="col s12 m3 l3">
                                       <p class="strong white-text">Check-Out Date</p>
                                       <h4 class="header">{{booking_detail?.check_out_time |date}}</h4>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                      <div class="sb2-2-add-blog sb2-2-1">


          <div id="invoice" *ngIf="items.length>0">

            <div class="invoice-header">
              <div class="row section">
                <div class="col s12 m6 l6">
                  <!-- <img src="images/generic-logo.png" alt="company logo"> -->
                  <p>To,
                    <br/>
                    <span class="strong">{{item.name}}</span>
                    <br/>
                    <span>{{item.email}}</span>
                    <br/>
                    <span>{{item.city}}, {{item.country}}</span>
                    <br/>
                    <span>{{item.country_code}}-{{item.mobile_number}}</span>

                  </p>
                </div>


                <!-- <div class="col s12 m6 l6">
=======
                <div class="col s12 m6 l6">
>>>>>>> 8076dc93a223c94f712adc710b816166b469958c
                  <div class="invoce-company-address right-align">
                    <span class="invoice-icon"><i class="mdi-social-location-city cyan-text"></i></span>

                    <p><span class="strong">International</span>
                      <br/>
                      <span>125, ABC Street,</span>
                      <br/>
                      <span>New Yourk, country</span>
                      <br/>
                      <span>+91-(444)-(333)-(221)</span>
                    </p>
                  </div>

                  <div class="invoce-company-contact right-align">
                    <span class="invoice-icon"><i class="mdi-communication-quick-contacts-mail cyan-text"></i></span>
                    <p><span class="strong">www.exampledomain.com</span>
                      <br/>
                      <span>info@exampledomain.com</span>
                      <br/>
                      <span>admin@exampledomain.com</span>
                    </p>
                  </div>


                </div> -->

              </div>
            </div>




            <div class="invoice-table" >

              <div class="row">
                <div class="col s12 m12 l12 table-responsive table-desi">
                  <table >
                    <thead>
                      <tr>
                        <th data-field="no">No</th>
                        <th data-field="item">Module (Order no.)</th>
                        <th data-field="uprice">Department</th>
                        <th data-field="price" class="right-align"><!-- No of People --></th>
                        <th data-field="price" class="right-align">Date - Time</th>
                        <th data-field="price" class="right-align">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template ngFor let-data [ngForOf]="items" let-i="index">
                        <tr *ngIf="data.module_id && data.department_id">
                          <td><b>{{i+1}}.</b></td>

                          <td>{{modules[data.module_id]}}-( <a routerLink="/orders/{{data.department_id?.department_type}}/view/{{data._id}}">#{{data.confirmation_number}}</a>)</td>

                          <td>{{data.department_id.name.en}}</td>
                          <td class="right-align">{{(data.number_of_people)?"People-"+data.number_of_people:""}}</td>
                          <td class="right-align">{{data.created_date | date}} - {{data.appointment_time}}</td>
                          <td class="right-align" *ngIf="data.order_items.length>0"><b>{{calculateSum(data.order_items) | currency:'USD':true:'1.2-2'}}</b></td>
                          <td class="right-align" *ngIf="data.order_items==undefined || data.order_items.length==0">--</td>
                        </tr>
                         <ng-container *ngIf="data.order_items.length>0 && data.module_id && data.department_id" >
                        <tr  >
                        <th data-field="no"><!-- No --></th>
                        <th class="cyan" data-field="item">Item</th>
                        <th class="cyan right-align" data-field="uprice">Price</th>
                        <th class="cyan right-align" data-field="price"></th>
                        <th class="cyan right-align" data-field="price">Total</th>
                      </tr>

                         <tr  *ngFor="let data1 of data.order_items; let i = index" >
                            <td><!-- <b>{{charPrint(i)}}.</b> --></td>
                            <td class="cyan">{{data1.item_name}}</td>
                            <td class="cyan right-align"> {{data1.item_price | currency:'USD':true:'1.2-2'}}</td>
                            <td class="cyan right-align" ><span *ngIf="data1.item_quantity">{{(data.department_id.department_type=='kid_zone'?'Kids-':'Qty-')}}</span>{{data1.item_quantity}}</td>
                            <td class="cyan right-align">{{data1.item_price *((data1.item_quantity)?data1.item_quantity:1)| currency:'USD':true:'1.2-2'}}</td>

                          </tr>
                      </ng-container>

                      </ng-template>

                     <!--  <tr>
                        <td colspan="3"></td>
                        <td>Sub Total:</td>
                        <td>$ 5,290.00</td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td>Service Tax</td>
                        <td>11.00%</td>
                      </tr> -->
                      <tr>
                        <td colspan="4"></td>
                        <td class=" inn-title  white-text right-align">Grand Total</td>
                        <td class="inn-title strong white-text right-align">{{calculateTotal(items) | currency:'USD':true:'1.2-2'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>


            <!-- <div class="invoice-footer">

              <div class="row">
                <div class="col s12 m6 l6">
                  <p class="strong">Payment Method</p>
                  <p>Please make the cheque to: AMANDA ORTON</p>
                  <p class="strong">Terms & Condition</p>
                  <ul>
                    <li>You know, being a test pilot isn't always the healthiest business in the world.</li>
                    <li>We predict too much for the next year and yet far too little for the next 10.</li>
                  </ul>
                </div>
                <div class="col s12 m6 l6 center-align">
                  <p>Approved By</p>

                   <img src="assets/images/signature-scan.png" alt="signature">

                  <p class="header">AMANDA ORTON</p>
                  <p>Managing Director</p>
                </div>
              </div>

            </div> -->

          </div>
          <div *ngIf="items.length==0"><b>No Record Found.</b></div>


                </div>


                            </div>




                        </div>
                    </div>
</div>
