
<div class="sb2-2-add-blog">

                    <ul class="nav nav-tabs tab-list">
                        <li >
                          <a data-toggle="tab" routerLink="/clients/{{itemID}}/edit">
                          <i class="fa fa-info" aria-hidden="true"></i> <span>Detail</span></a>
                        </li>
                        <li class="active">
                          <a data-toggle="tab" routerLink="/clients/{{itemID}}/checkin" >
                            <i class="fa fa-history" aria-hidden="true"></i> <span>Check-In</span>
                          </a>
                        </li>
                        <!--  <li [ngClass]="{'active': tab===3}"><a data-toggle="tab" href="javascript: void();"  (click)="openTab(3)"><i class="fa fa-usd" aria-hidden="true"></i> <span>Invoice</span></a>
                        </li> -->
                    </ul>

                    <div class="tab-content">

                        <div id="menu1" class="tab-pane fade in active" >
                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-12">

                                          <div class="inn-title">
                                              <div class="row">
                                                <div class="col-md-9">
                                                  <h4 class="header-label">Check-In</h4>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                  <a class="waves-effect waves-light btn teal lighten-2 submit-btn " [ngClass]="{'disabled': item.check_in }" (click)="openModal(item)"> Check In</a>
                                                </div>
                                              </div>
                                          </div>

                                            <div class="box-inn-sp">

                                                <div class="tab-inn">
                                                    <div class="table-responsive table-desi">
                                                      <div [ngBusy]="busy"></div>
                                                        <table class="table table-hover" #mf="mfDataTable"
                                                          [mfData]="items"
                                                          [mfRowsOnPage]="rowsOnPage"
                                                          [mfActivePage]="activePage"
                                                          [(mfSortBy)]="sortBy"
                                                          [(mfSortOrder)]="sortOrder"
                                                          [mfIsServerPagination]="false"
                                                          (mfOnPageChange)="onPageChange($event)"
                                                          >
                                                            <thead>
                                                                <tr>

                                                                    <th><mfDefaultSorter by="booking_number">Booking No.</mfDefaultSorter></th>
                                                                    <th><mfDefaultSorter by="check_in_time">Check In Time</mfDefaultSorter></th>
                                                                    <th class="center-align"><mfDefaultSorter by="check_out_time">Check Out Time</mfDefaultSorter></th>
                                                                    <th class="center-align">Order History</th>
                                                                    <th class="center-align">Invoice</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
                                                                <tr *ngIf="item.customer_id!=null">

                                                                    <td> #{{item?.booking_number}}</td>

                                                                    <td>  {{item.check_in_time | date}} </td>

                                                                     <td class="center-align"> {{item.check_out_time  | date}}</td>
                                                                     <td class="center-align">
                                                                         <a routerLink="/clients/{{item?.customer_id}}/orders/{{item?.booking_number}}">
                                                                          <i class="fa fa-history" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                    <td class="center-align">

                                                                         <a routerLink="/clients/{{item?.customer_id}}/invoice/{{item?.booking_number}}">
                                                                          <i class="fa fa-files-o" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>


                                                                </tr>
                                                              </ng-template>
                                                              <tr *ngIf="mf.data.length==0">

                                                                    <td colspan="5" class="center-align">  <b>No Record Found</b></td>



                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                              <tr>
                                                                <td colspan="6">
                                                                  <mfBootstrapPaginator [rowsOnPageSet]="rowsInTable"></mfBootstrapPaginator>
                                                                </td>
                                                              </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

  <div class="modal-content">
    <h2>Are you sure you want to manual check-in ?</h2>
    <p></p>
    <div class="row">
       <div class="input-field col s6">
                <input id="booking_number" type="text" [(ngModel)]="checkin_detail.booking_number" name="booking_number"
                class="validate" #booking_numberVl="ngModel" required  maxlength="100">
                <label for="booking_number" [ngClass]="{'active': checkin_detail?.booking_number}">Booking Number *</label>

                <div *ngIf="booking_numberVl.invalid && (booking_numberVl.dirty || booking_numberVl.touched)" class="text-danger">
                  <p *ngIf="booking_numberVl.errors.required">Booking number is required.</p>
                  <p *ngIf="booking_numberVl.errors.maxlength">Maximum of 70 characters</p>
                </div>
              </div>
            <div class="input-field col s6">
                <input id="check-in" type="text" class="datepicker" materialize="pickadate"  [materializeParams]="[datePickerOptions]"
                [(ngModel)]="checkin_detail.check_in_time" name="check-in"   #check_inVl="ngModel" required>
                <label for="check-in" [ngClass]="{'active': checkin_detail?.check_in_time}">Check-In Date</label>

                <div *ngIf="check_inVl.invalid && (check_inVl.dirty || check_inVl.touched)" class="text-danger">
                  <p *ngIf="check_inVl.errors.required">Check In date is required.</p>

                </div>
              </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a class="waves-effect waves-light btn teal darken-1" (click)="manualCheckin()" [ngClass]="{'disabled': !checkin_detail.check_in_time || !checkin_detail.booking_number }">Check-In</a>
  </div>
</div>
