<div [ngBusy]="busy"></div>
<div class="blog-login">
    <div class="blog-login-in">
        <div *ngIf="error">
          <h2>{{error}}</h2>
          <a *ngIf="isStaffToken" routerLink="/login" class="for-pass">Login</a>
        </div>
        <div *ngIf="!token">
          <h2>Token not found</h2>
          <a *ngIf="isStaffToken" routerLink="/login" class="for-pass">Login</a>
        </div>
        <div *ngIf="passwordReset">
          <h2>
            You password has been reset successfully. You can now login with new password.
          </h2>
          <a *ngIf="isStaffToken" routerLink="/login" class="for-pass">Login</a>
        </div>
        <form #resetPasswordForm="ngForm" *ngIf="token && !passwordReset && !error" (ngSubmit)="resetPassword()">
            <img src="assets/images/logo.png" alt="" />

            <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="password"
                  [(ngModel)]="user.password" #password="ngModel" minlength="6" required>
                  <label for="password">Password</label>

                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <p *ngIf="password.errors.required">Password is required.</p>
                    <p *ngIf="password.errors.minlength">Minimum of 6 characters</p>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input id="confirm_password" type="password" class="validate" name="confirmPassword"
                  [(ngModel)]="user.confirm" #confirmPass="ngModel" [equalTo]="password" >
                  <label for="password">Confirm Password</label>

                  <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                    <p *ngIf="confirmPass.errors.equalTo">Password doesn't match.</p>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" class="waves-effect waves-light btn-large" style="width: 100%;" value="Reset Password" [disabled]="!resetPasswordForm.valid">
                </div>
            </div>
        </form>
    </div>
</div>
