<div class="sb2-2-3">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp">
        <div class="inn-title">

          <div class="row">
            <div class="col-md-3">
              <h4 class="header-label">Email Templates</h4>
            </div>

            <div class="col-md-6 text-right">
              <form class="app-search">
                <input type="text" placeholder="Search..." class="form-control" (keyup)="searchEquipment($event)" [(ngModel)]="searchTerm"
                  name="searchTerm">
                <a href="javascript: void();" (click)="searchEquipment($event)"><i class="fa fa-search"></i></a>
              </form>
            </div>
            <div class="col-md-3 text-right">
              <a class="waves-effect waves-light btn" routerLink="/email-templates/new"> Add New </a>
            </div>
          </div>
        </div>
        <div class="tab-inn">
          <div class="table-responsive table-desi">
            <div [ngBusy]="busy"></div>
            <table class="table table-hover" #mf="mfDataTable" [mfData]="items" [mfRowsOnPage]="rowsOnPage" [mfActivePage]="activePage"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfIsServerPagination]="false" (mfOnPageChange)="onPageChange($event)">
              <thead>
                <tr>
                  <th class="w-25">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                  </th>
                  <th class="center-align w-5">Edit</th>
                </tr>
              </thead>
              <tbody *ngIf="mf.data.length > 0">
                <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
                  <tr *ngIf="item.title.length > 0">
                    <td class="w-25">
                      <a routerLink="/email-templates/{{item._id}}/edit">
                        <span class="list-enq-name">{{item.title}}</span>
                      </a>
                    </td>

                    <td class="center-align w-5">
                      <a class="icon-pos" routerLink="/email-templates/{{item._id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>

                  </tr>
                </ng-template>
              </tbody>
              <tfoot *ngIf="mf.data.length > 0">
                <tr>
                  <td colspan="6">
                    <mfBootstrapPaginator [rowsOnPageSet]="rowsInTable"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
              <tfoot *ngIf="mf.data.length === 0">
                <tr>
                  <td colspan="12" class="text-center">
                    <label class="record-label">No record found </label>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

  <div class="modal-content">
    <h2>Are you sure that you want to delete this email-template ?</h2>
    <p  style="margin-top: 30px;"> Once you delete an email-template, you cannot reverse it back!</p>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel</a>
    <a class="waves-effect waves-light btn teal darken-1" (click)="removeItem()">Delete</a>
  </div>
</div>
