<div class="sb2-2-3">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp">
        <div class="inn-title">

          <div class="row">
            <div class="col-md-3">
              <h4 class="header-label">Alerts</h4>
            </div>

            <div class="col-md-6 text-right">
              <form class="app-search">
                <input type="text" placeholder="Search..." class="form-control" (keyup)="searchEquipment($event)" [(ngModel)]="searchTerm"
                  name="searchTerm">
                <a href="javascript: void();" (click)="searchEquipment($event)"><i class="fa fa-search"></i></a>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-inn">
          <div class="table-responsive table-desi">
            <div [ngBusy]="busy"></div>
            <table class="table table-hover" #mf="mfDataTable" [mfData]="items" [mfRowsOnPage]="rowsOnPage" [mfActivePage]="activePage"
               [mfIsServerPagination]="false" (mfOnPageChange)="onPageChange($event)">
              <thead>
                <tr>
                  <th class="w-100">title
                  </th>

                
                </tr>
              </thead>
              <tbody *ngIf="mf.data.length > 0">
                <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
                  <tr>
                    <td class="w-100" [ngClass]="item?.is_read ? 'alert-read' : 'alert-unread'">
                      <a (click)="readNotification(item)">
                        <span class="list-enq-name">{{item.title}}</span>
                        <sub class="sub capitalize"> <span class="list-enq-name">{{formatDate(item.created_date)}}</span> </sub>
                      </a>
                    </td>

                  </tr>
                </ng-template>
              </tbody>
              <tfoot *ngIf="mf.data.length > 0">
                <tr>
                  <td colspan="6">
                    <mfBootstrapPaginator [rowsOnPageSet]="rowsInTable"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
              <tfoot *ngIf="mf.data.length === 0">
                <tr>
                  <td colspan="12" class="text-center">
                    <label class="record-label">No record found </label>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

  <div class="modal-content">
    <h2>Are you sure you want to delete ?</h2>
    <p style="margin-top: 30px;">Your data once deleted cannot be reverse back!</p>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel</a>
    <a class="waves-effect waves-light btn teal darken-1" (click)="removeItem()">Delete</a>
  </div>
</div>
