
.alerts-label{margin-top:7px}
.alert-unread{
    background-color:#F0F0F0;
    cursor: pointer;
}
.alert-read{
    background-color:#FFF;
    cursor: pointer;
}
.sub > span{float: right; color: #9292a9 !important;}


