<app-notifications></app-notifications>
<!--== DASHBOARD INFO ==-->

<div class="sb2-2-1 sb2-2-1-1">

    <div class="row"> 
        <!-- <div class="col-md-12"><div [ngBusy]="busy"></div></div> -->

      <div class="col-md-9"><h2  >Admin Dashboard</h2></div>
      
    </div>
    <div class="db-2">

        <div [ngBusy]="busy"></div>
       <!--  <ul>
            <li *ngFor="let item of reservations_count">
                <div class="dash-book dash-b-2">
                    <h5>{{modules[item._id]}}</h5>
                    <h4>{{item.count}}</h4>
                    <a routerLink="/departments/{{item._id}}">View</a>
                </div>
            </li>
        </ul> -->
    </div>
</div>
<!--== DASHBOARD INFO ==-->
<div class="sb2-2-3">
    <div class="row">
        <!--== Country Campaigns ==-->

        <!-- <div class="col-md-6 blocks" *ngFor="let item of latest_reservations">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>{{modules[item._id]}}</h4>
                   
                </div>
                <div class="tab-inn tab-inn2">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ORDER NO</th>
                                    <th>DEPARTMENT</th>
                                    <th>RESERVATION DATE</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let itemDetail of item.records;let i=index;">

                                    <td *ngIf="i<5"><span class="txt-dark weight-500"><a routerLink="/orders/{{departments[itemDetail.department_id].type}}/view/{{itemDetail._id}}">#{{itemDetail.confirmation_number}}</a></span>
                                    </td>
                                    <td *ngIf="i<5">{{departments[itemDetail.department_id].name}} <br>
                                         </td>
                                    <td *ngIf="i<5"><span>{{formatDate(itemDetail.appointment_date , true)}}</span>
                                    </td>
                                    <td *ngIf="i<5">

                                       <span class="label label-success">{{STATUS[itemDetail.appointment_status]}}</span>
                                    </td>
                                   
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->

       
    </div>
</div>


