<div class="sb2-2-add-blog">

                    <ul class="nav nav-tabs tab-list">
                        <li >
                          <a data-toggle="tab" routerLink="/clients/{{itemID}}/edit">
                          <i class="fa fa-info" aria-hidden="true"></i> <span>Detail</span></a>
                        </li>
                        <li class="active">
                          <a data-toggle="tab" routerLink="/clients/{{itemID}}/checkin" >
                            <i class="fa fa-history" aria-hidden="true"></i> <span>Check-In</span>
                          </a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div id="menu1" class="tab-pane fade in active" >
                          <div [ngBusy]="busy"></div>
                         <div class="inn-title">
                  <div class="row">
                    <div class="col-md-3">
                      <h4 class="header-label">Order History #{{booking_detail?.booking_number}}</h4>
                    </div>

                    <div class="col-md-6 text-right">
                      <form class="app-search">
                        <input type="text" placeholder="Search..." class="form-control"
                          (keyup)="searchEquipment($event)" [(ngModel)]="searchTerm" name="searchTerm">
                        <a href="javascript: void();" (click)="searchEquipment($event)"><i class="fa fa-search"></i></a>
                      </form>
                    </div>

                    <div class="col-md-3 text-right">

                      <select class="status-select" materialize="material_select" [(ngModel)]="selectedValue" (change)="changeStatus(selectedValue)">
                      <option *ngFor="let s of status" [ngValue]="s">{{s}}</option>
                    </select>
                    </div>

                  </div>

                </div>
                            <div class="">
                                <div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">

                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                      <div [ngBusy]="busy"></div>
                        <table class="table table-hover" #mf="mfDataTable"
                          [mfData]="items"
                          [mfRowsOnPage]="rowsOnPage"
                          [mfActivePage]="activePage"
                          [(mfSortBy)]="sortBy"
                          [(mfSortOrder)]="sortOrder"
                          [mfIsServerPagination]="false"
                          (mfOnPageChange)="onPageChange($event)"
                          >
                            <thead>
                                <tr>
                                    <th><mfDefaultSorter by="confirmation_number">Order No.</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="module_id">Module</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="department_id.name.en">Department</mfDefaultSorter></th>
                                     <th><mfDefaultSorter by="appointment_date">Reservation Date</mfDefaultSorter></th>
                                    <th class="center-align"><mfDefaultSorter by="appointment_status">Status</mfDefaultSorter>
                                    </th>
                                    <th class="center-align">Manage Order</th>

                                   <!--  <th class="center-align">Approve</th>
                                    <th class="center-align">Reject</th> -->
                                </tr>
                            </thead>
                            <tbody>
                              <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
                                <tr *ngIf="item.customer_id!=null">


                                    <td> <a routerLink="/orders/{{item?.department_id?.department_type}}/view/{{item._id}}">#{{item.confirmation_number}}</a></td>


                                    <td>  {{modules[item.module_id]}} </td>

                                   <!--  <td class="center-align"> {{item.number_of_people}}</td> -->
                                     <td class=" capitalize"> {{item?.department_id?.name.en}}</td>
                                     <td class=" capitalize"> {{formatDate(item?.created_date)}} </td>
                                     <td class=" capitalize">  {{item?.appointment_status}}</td>
                                    <td class="center-align">
                                        <a routerLink="/orders/{{item?.department_id?.department_type}}/view/{{item._id}}">
                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </td>

                                   <!--  <td class="center-align">
                                        <a href="javascript: void();" (click)="openModal(item)">
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td class="center-align">
                                     <a href="javascript: void();" (click)="openModal(item)">
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>

                                    </td> -->
                                </tr>
                              </ng-template>
                              <tr *ngIf="mf.data.length==0">

                                    <td colspan="5" class="center-align">  <b>No Record Found</b></td>



                                </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="6">
                                  <mfBootstrapPaginator [rowsOnPageSet]="rowsInTable"></mfBootstrapPaginator>
                                </td>
                              </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                            </div>
                        </div>
                    </div>
    </div>
